* {
  box-sizing: border-box;
}

.progressx {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.progressx .progress {
  background-color: #d8d8d8;
  border-radius: 20px;
  position: relative;
  margin: 15px 0;
  height: 30px;
  width: 80%;
}

.progressx .progress-done {
  background: linear-gradient(to left, rgb(0, 42, 133), rgb(0, 174, 255));
  box-shadow: 0 3px 3px -5px rgb(0, 0, 0), 0 2px 5px rgb(116, 113, 114);
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.5s;
  -webkit-transition: 1s ease 0.5s;
  -moz-transition: 1s ease 0.5s;
  -ms-transition: 1s ease 0.5s;
  -o-transition: 1s ease 0.5s;
}

.progressx a {
  text-decoration: none;
  padding: 0.6rem;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
  background-color: #1c87c9;
  border: none;
  color: white;
  font-size: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  text-decoration: none;
  -o-border-radius: 10px;
}
